@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    background: #082f43;
}
   section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
   
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#0a2a43,transparent);
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec{
    position: relative;
    padding: 100px;
}
.sec h2{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}
.sec p{
    font-size: 1.2em;
    color: #fff;
}
#bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#moon{
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
}
#cloud1{
    position: absolute;
    left: 0;
    top: 100px;
    max-width: 600px; 
}
#cloud2{
    position: absolute;
   right: 0;
    top: 100px;
    max-width: 600px;
    
}
#jet{
    position: absolute;
    left: 50px;
    top: 50px;
    max-width: 100%; 
    transform: scale(0); 
}
#ironman{
    position: absolute;
    top: 110%;
    z-index: 10000;
   width: 100%;
   transform: scale(0);

}
